<%- model_class = User -%>
<div class="page-header">
  <h1>My Profile</h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @user.name %></dd>
  <p></p>
  <dt><strong><%= model_class.human_attribute_name(:date_of_birth) %>:</strong></dt>
  <dd><%= @user.date_of_birth %></dd>
  <p></p>
  <dt><strong><%= model_class.human_attribute_name(:gender) %>:</strong></dt>
  <dd><%= @user.gender ? 'Male' : 'Female' %></dd>
  <p></p>
  <dt><strong><%= model_class.human_attribute_name(:mobile_number) %>:</strong></dt>
  <dd><%= @user.mobile_number %></dd>
  <p></p>
  <dt><strong><%= model_class.human_attribute_name(:email) %>:</strong></dt>
  <dd><%= @user.email %></dd>
  <p></p>
  <p></p>
  <dt><strong>Agreed Consents:</strong>:</dt>
  <% @agreed_consents.each_with_index do |consent, index| %>
    <dd><%= index+1 %>. <%= consent %></dd>
<% end %>
</dl>

