<!DOCTYPE html>
<html>
<head>
  <title>Clinic</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.css">
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/navigation' %>
<div class="container-fluid">
  <!--  <div style="margin-top: 2px;">
    <p class="alert-info"><%#= notice %></p>
    <p class="alert-danger alert-dismissable"><%#= alert %></p>
  </div>-->
  <%= render 'layouts/messages' %>
  <%= yield %>
</div>

</body>
</html>
